@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
/* ---------- SCSS VARIABLES SECTION ---------- */
/* ---------- UNIVERSAL STYLE ---------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  font-family: "Open Sans";
  font-weight: 700;
}

.title {
  color: #00252e;
  font-family: "Poppins";
  text-align: center;
}

.info {
  text-align: center;
}

/* ---------- HEADER SECTION ---------- */
.hero {
  width: 100%;
  background-image: url("../images/bg-hero-mobile.svg");
  background-color: #ebfbff;
}

.hero-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0 1em;
  padding-top: 2em;
}

.hero .logo {
  width: 25%;
  max-width: 250px;
}

.try {
  background-color: white;
  color: #00252e;
  padding: 0.3em 2.1em;
  border: 1px solid white;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 8px #d5d9dd;
          box-shadow: 0 2px 8px #d5d9dd;
  font-size: 0.6rem;
}

.hero-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5.5em 2em 2em;
}

.hero-body .title {
  font-size: 1.7rem;
  line-height: 1.5em;
}

.hero-body .info {
  color: #00252e;
  font-family: "Open Sans";
  margin: 1em 0 2em;
  font-size: 1rem;
  line-height: 1.6em;
}

.hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 475px;
  -ms-flex-item-align: center;
      align-self: center;
}

.action {
  background-color: #ff52bf;
  color: white;
  padding: 0.9em 0;
  border: 1px solid #ff52bf;
  width: 50%;
  max-width: 250px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 30px;
  -webkit-box-shadow: 0 2px 8px #d5d9dd;
          box-shadow: 0 2px 8px #d5d9dd;
}

.mockups {
  width: 100%;
  max-width: 800px;
  padding: 4em 0.7em 0;
}

/* ---------- REASONS SECTION ---------- */
.reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.5em;
}

.reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 87%;
  min-height: 550px;
  margin: 1.5em 0;
  padding: 3.2em 1.25em 1.25em;
  -webkit-box-shadow: 0 0 10px 5px #f1f2f4;
          box-shadow: 0 0 10px 5px #f1f2f4;
  border-radius: 20px;
}

.reason img {
  width: 90%;
  max-width: 400px;
  margin-bottom: 3.8em;
}

.reason .title {
  font-size: 1.2rem;
}

.reason .info {
  color: #808d99;
  font-family: "Open Sans";
  font-size: 0.9rem;
  line-height: 1.5em;
  margin: 1em;
}

/* ---------- CALL TO ACTION SECTION ---------- */
.over-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}

.call-to-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  max-width: 800px;
  margin-top: 120px;
  padding: 2.5em 1.5em;
  -webkit-box-shadow: 0 0px 10px 5px rgba(128, 141, 153, 0.1);
          box-shadow: 0 0px 10px 5px rgba(128, 141, 153, 0.1);
  border-radius: 20px;
  background-color: white;
}

.call-to-action .title {
  font-size: 1.2rem;
}

.call-to-action .action {
  margin-top: 1.75em;
  font-size: 0.8rem;
  padding: 1em 0;
  -webkit-box-shadow: 0 2px 8px #d5d9dd;
          box-shadow: 0 2px 8px #d5d9dd;
}

/* ---------- FOOTER SECTION ---------- */
footer {
  position: relative;
  margin-top: -5em;
  background-color: #00252e;
  color: white;
  font-family: "Open Sans";
  font-size: 1rem;
  padding: 155px 1.25em 1.25em 1.25em;
}

footer .logo {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 50%;
  max-width: 300px;
}

.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact {
  line-height: 1.6em;
}

.address,
.tel,
.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.icon {
  margin-right: 1em;
  height: 18px;
}

.footer-nav {
  list-style: none;
  padding: 2em 0 1.25em;
}

.footer-nav li {
  padding-bottom: 1em;
  font-size: 1.2rem;
}

.icons {
  text-align: center;
  font-size: 0.9rem;
}

.fab {
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.6em;
  margin: 0.5em;
}

.fa-facebook-f {
  padding: 0.6em 0.8em;
}

.copyright {
  text-align: center;
  font-family: "Poppins";
  font-size: 0.7rem;
  padding: 1.25em 0 0.8em;
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
}

.attribution a {
  color: #ff52bf;
}

/* ---------- MEDIA QUERIES ---------- */
@media (min-width: 375px) {
  .hero {
    background-image: url("../images/bg-hero-desktop.svg");
  }
}

@media (min-width: 450px) {
  .mockups {
    width: 90%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 750px) {
  .hero-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hero-text {
    width: 45%;
  }
  .mockups {
    width: 50%;
  }
  .reason {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-height: 100%;
  }
  .reason:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .reason:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .reason-text {
    width: 50%;
    max-width: 500px;
  }
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-details {
    width: 30%;
  }
  .footer-nav--container {
    width: 35%;
  }
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: 200px;
  }
  .icons {
    width: 20%;
  }
  .footer-copyright {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .icons,
  .copyright,
  .attribution {
    text-align: left;
  }
}
/*# sourceMappingURL=index.css.map */