@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
/* ---------- SCSS VARIABLES SECTION ---------- */
$pink: hsl(322, 100%, 66%);
$paleCyan: hsl(193, 100%, 96%);
$darkCyan: hsl(192, 100%, 9%);
$grayBlue: hsl(208, 11%, 55%);

/* ---------- UNIVERSAL STYLE ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: "Open Sans";
  font-weight: 700;
}

.title {
  color: $darkCyan;
  font-family: "Poppins";
  text-align: center;
}

.info {
  text-align: center;
}

/* ---------- HEADER SECTION ---------- */
.hero {
  width: 100%;
  background-image: url("../images/bg-hero-mobile.svg");
  background-color: $paleCyan;
}

.hero-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 1em;
  padding-top: 2em;
}

.hero .logo {
  width: 25%;
  max-width: 250px;
}

.try {
  background-color: white;
  color: $darkCyan;
  padding: 0.3em 2.1em;
  border: 1px solid white;
  border-radius: 40px;
  box-shadow: 0 2px 8px lighten($grayBlue, 30%);
  font-size: 0.6rem;
}

.hero-body {
  display: flex;
  flex-direction: column;
  padding: 5.5em 2em 2em;
  .title {
    font-size: 1.7rem;
    line-height: 1.5em;
  }
  .info {
    color: $darkCyan;
    font-family: "Open Sans";
    margin: 1em 0 2em;
    font-size: 1rem;
    line-height: 1.6em;
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 475px;
  align-self: center;
}

.action {
  background-color: $pink;
  color: white;
  padding: 0.9em 0;
  border: 1px solid $pink;
  width: 50%;
  max-width: 250px;
  align-self: center;
  border-radius: 30px;
  box-shadow: 0 2px 8px lighten($grayBlue, 30%);
}

.mockups {
  width: 100%;
  max-width: 800px;
  padding: 4em 0.7em 0;
}

/* ---------- REASONS SECTION ---------- */
.reasons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.5em;
}

.reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87%;
  min-height: 550px;
  margin: 1.5em 0;
  padding: 3.2em 1.25em 1.25em;
  box-shadow: 0 0 10px 5px lighten($grayBlue, 40%);
  border-radius: 20px;
  img {
    width: 90%;
    max-width: 400px;
    margin-bottom: 3.8em;
  }
  .title {
    font-size: 1.2rem;
  }
  .info {
    color: $grayBlue;
    font-family: "Open Sans";
    font-size: 0.9rem;
    line-height: 1.5em;
    margin: 1em;
  }
}

/* ---------- CALL TO ACTION SECTION ---------- */

.over-footer {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 800px;
  margin-top: 120px;
  padding: 2.5em 1.5em;
  box-shadow: 0 0px 10px 5px hsla(208, 11%, 55%, 0.1);
  border-radius: 20px;
  background-color: white;
  .title {
    font-size: 1.2rem;
  }
  .action {
    margin-top: 1.75em;
    font-size: 0.8rem;
    padding: 1em 0;
    box-shadow: 0 2px 8px lighten($grayBlue, 30%);
  }
}

/* ---------- FOOTER SECTION ---------- */
footer {
  position: relative;
  margin-top: -5em;
  background-color: $darkCyan;
  color: white;
  font-family: "Open Sans";
  font-size: 1rem;
  padding: 155px 1.25em 1.25em 1.25em;
  .logo {
    filter: brightness(0) invert(1);
    width: 50%;
    max-width: 300px;
  }
}

.contact-details {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-evenly;
}

.contact {
  line-height: 1.6em;
}

.address,
.tel,
.email {
  display: flex;
  align-items: baseline;
}

.icon {
  margin-right: 1em;
  height: 18px;
}

.footer-nav {
  list-style: none;
  padding: 2em 0 1.25em;
  li {
    padding-bottom: 1em;
    font-size: 1.2rem;
  }
}

.icons {
  text-align: center;
  font-size: 0.9rem;
}

.fab {
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.6em;
  margin: 0.5em;
}

.fa-facebook-f {
  padding: 0.6em 0.8em;
}

.copyright {
  text-align: center;
  font-family: "Poppins";
  font-size: 0.7rem;
  padding: 1.25em 0 0.8em;
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
}
.attribution a {
  color: $pink;
}

/* ---------- MEDIA QUERIES ---------- */
@media (min-width: 375px) {
  .hero {
    background-image: url("../images/bg-hero-desktop.svg");
  }
}

@media (min-width: 450px) {
  .mockups {
    width: 90%;
    align-self: center;
  }
}

@media (min-width: 750px) {
  :root {
    font-size: 20px;
  }

  .try {
    font-size: 0.8rem;
    padding: 0.5em 2em;
  }

  .title,
  .info {
    text-align: left;
  }

  .hero-body {
    flex-direction: row;
    justify-content: space-around;
  }

  .hero-text {
    width: 45%;
  }

  .mockups {
    width: 45%;
  }

  .reason {
    justify-content: space-around;
    min-height: 100%;
  }

  .reason:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .reason:nth-child(even) {
    flex-direction: row;
  }
  .reason-text {
    width: 50%;
    max-width: 500px;
  }
  .reason-text .info {
    margin-left: 0;
  }

  .call-to-action .title {
    text-align: center;
  }

  footer {
    font-size: 0.9rem;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer-info {
    display: flex;
    justify-content: space-between;
  }

  .contact-details {
    width: 30%;
  }

  .footer-nav--container {
    width: 35%;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
  }

  .footer-nav li {
    font-size: 0.95rem;
  }

  .icons {
    width: 20%;
  }

  .footer-copyright {
    align-self: flex-end;
  }

  .icons,
  .copyright,
  .attribution {
    text-align: left;
  }
}
