@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
/* ---------- SCSS VARIABLES SECTION ---------- */
/* ---------- UNIVERSAL STYLE ---------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
}

button {
  font-family: "Open Sans";
  font-weight: 700;
}

.title {
  color: #00252e;
  font-family: "Poppins";
  text-align: center;
}

.info {
  text-align: center;
}

/* ---------- HEADER SECTION ---------- */
.hero {
  width: 100%;
}

.mobile-bg {
  position: absolute;
  width: 100%;
  background-color: #ebfbff;
  z-index: -1;
}

.hero-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px;
  padding-top: 30px;
}

.hero .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  height: 20px;
}

.try {
  background-color: white;
  color: #00252e;
  padding: 5px 25px;
  border: 1px solid white;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 8px #d5d9dd;
          box-shadow: 0 2px 8px #d5d9dd;
}

.hero-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 30px 20px;
}

.hero .info {
  color: #00252e;
  font-family: "Open Sans";
  margin: 15px 0 30px;
}

.action {
  background-color: #ff52bf;
  color: white;
  padding: 13px 60px;
  border: 1px solid #ff52bf;
  border-radius: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mockups {
  width: 100%;
  padding: 70px 10px 0;
}

/* ---------- REASONS SECTION ---------- */
.reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: 25px 0;
  padding: 70px 30px;
  -webkit-box-shadow: 0 0 10px 5px #f1f2f4;
          box-shadow: 0 0 10px 5px #f1f2f4;
  border-radius: 20px;
}

.reason img {
  width: 80%;
  margin-bottom: 80px;
}

.reason .info {
  color: #808d99;
  font-family: "Open Sans";
  margin: 20px;
}

/* ---------- CALL TO ACTION SECTION ---------- */
.over-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.call-to-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin-top: 120px;
  padding: 50px 30px;
  -webkit-box-shadow: 0 0 10px 5px #f1f2f4;
          box-shadow: 0 0 10px 5px #f1f2f4;
  border-radius: 20px;
}

.call-to-action .action {
  margin-top: 30px;
  padding: 15px 60px;
}

/* ---------- FOOTER SECTION ---------- */
footer {
  background-color: #00252e;
  color: white;
  font-family: "Open Sans";
}

footer .logo {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.contact {
  display: inline-block;
  padding-left: 20px;
}

.icons {
  text-align: center;
}

.fab {
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
}

.fa-facebook-f {
  padding: 10px 12px;
}

.copyright {
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=index.css.map */