@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
/* ---------- SCSS VARIABLES SECTION ---------- */
$pink: hsl(322, 100%, 66%);
$paleCyan: hsl(193, 100%, 96%);
$darkCyan: hsl(192, 100%, 9%);
$grayBlue: hsl(208, 11%, 55%);

/* ---------- UNIVERSAL STYLE ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

button {
  font-family: "Open Sans";
  font-weight: 700;
}

.title {
  color: $darkCyan;
  font-family: "Poppins";
  text-align: center;
}

.info {
  text-align: center;
}

/* ---------- HEADER SECTION ---------- */
.hero {
  width: 100%;
}

.mobile-bg {
  position: absolute;
  width: 100%;
  background-color: $paleCyan;
  z-index: -1;
}

.hero-top {
  margin: 0 10px;
  padding-top: 30px;
}

.hero .logo {
  width: 25%;
}

.try {
  background-color: white;
  border: 0;
  color: $darkCyan;
}

.hero-body {
  padding: 100px 30px 20px;
}

.hero .info {
  color: $darkCyan;
  font-family: "Open Sans";
  margin: 15px 0 30px;
}

.action {
  background-color: $pink;
  color: white;
  padding: 10px 50px;
  border: 1px solid $pink;
  border-radius: 20px;
}

.mockups {
  width: 100%;
  padding: 70px 10px 0;
}

/* ---------- REASONS SECTION ---------- */
.reason img {
  width: 100%;
}

.reason .info {
  color: $grayBlue;
  font-family: "Open Sans";
}

/* ---------- CALL TO ACTION SECTION ---------- */

/* ---------- FOOTER SECTION ---------- */
footer {
  background-color: $darkCyan;
  color: white;
  font-family: "Open Sans";
}

footer .logo {
  filter: brightness(0) invert(1);
}

.contact {
  display: inline-block;
  padding-left: 20px;
}

.icons {
  text-align: center;
}

.fab {
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
}

.fa-facebook-f {
  padding: 10px 12px;
}

.copyright {
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
