@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
/* ---------- SCSS VARIABLES SECTION ---------- */
$pink: hsl(322, 100%, 66%);
$paleCyan: hsl(193, 100%, 96%);
$darkCyan: hsl(192, 100%, 9%);
$grayBlue: hsl(208, 11%, 55%);

/* ---------- UNIVERSAL STYLE ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

button {
  font-family: "Open Sans";
  font-weight: 700;
}

.title {
  color: $darkCyan;
  font-family: "Poppins";
  text-align: center;
}

.info {
  text-align: center;
}

/* ---------- HEADER SECTION ---------- */
.hero {
  width: 100%;
}

.mobile-bg {
  position: absolute;
  width: 100%;
  height: 124vh;
  background-color: $paleCyan;
  z-index: -1;
}

.hero-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 10px;
  padding-top: 30px;
}

.hero .logo {
  flex: 0 1 20%;
  height: 17px;
}

.try {
  background-color: white;
  color: $darkCyan;
  padding: 4px 20px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0 2px 8px lighten($grayBlue, 30%);
  font-size: 0.58em;
}

.hero-body {
  display: flex;
  flex-direction: column;
  padding: 90px 20px 20px;
  .title {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .info {
    color: $darkCyan;
    font-family: "Open Sans";
    margin: 15px 0 30px;
    font-size: 0.9em;
    line-height: 1.6em;
  }
}

.action {
  background-color: $pink;
  color: white;
  padding: 13px 60px;
  border: 1px solid $pink;
  border-radius: 30px;
  align-self: center;
  box-shadow: 0 2px 8px lighten($grayBlue, 30%);
}

.mockups {
  width: 100%;
  padding: 60px 10px 0;
}

/* ---------- REASONS SECTION ---------- */
.reasons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87%;
  margin: 25px 0;
  padding: 50px 20px 20px;
  box-shadow: 0 0 10px 5px lighten($grayBlue, 40%);
  border-radius: 20px;
  img {
    width: 90%;
    margin-bottom: 60px;
  }
  .title {
    font-size: 1.15em;
  }
  .info {
    color: $grayBlue;
    font-family: "Open Sans";
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 15px;
  }
}

/* ---------- CALL TO ACTION SECTION ---------- */

.over-footer {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 120px;
  padding: 40px 20px;
  box-shadow: 0 0px 10px 5px hsla(208, 11%, 55%, 0.1);
  border-radius: 20px;
  background-color: white;
  .title {
    font-size: 1em;
  }
  .action {
    margin-top: 25px;
    font-size: 0.65em;
    padding: 13px 55px;
    box-shadow: 0 2px 8px lighten($grayBlue, 30%);
  }
}

/* ---------- FOOTER SECTION ---------- */
footer {
  position: relative;
  margin-top: -80px;
  background-color: $darkCyan;
  color: white;
  font-family: "Open Sans";
  font-size: 1rem;
  padding: 155px 20px 20px 20px;
  .logo {
    filter: brightness(0) invert(1);
    width: 50%;
  }
}

.contact-details {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-evenly;
}

.contact {
  line-height: 1.6em;
}

.address,
.tel,
.email {
  display: flex;
  align-items: baseline;
}

.icon {
  margin-right: 15px;
  height: 18px;
}

.footer-nav {
  list-style: none;
  padding: 30px 0 20px;
  li {
    padding-bottom: 20px;
    font-size: 1.2em;
  }
}

.icons {
  text-align: center;
  font-size: 0.9em;
}

.fab {
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px;
  margin: 8px;
}

.fa-facebook-f {
  padding: 8px 10px;
}

.copyright {
  text-align: center;
  font-family: "Poppins";
  font-size: 0.7em;
  padding: 20px 0 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: $pink;
}

/* ---------- MEDIA QUERIES ---------- */
